extends layout

block content
  h1 Expense Tracker
  hr

  table(style='width:100%' , border = '2')
    tr
        th 
          h5(style='color:#007bff') Id
        th 
          h5 
            a(href='/expense/sort_date') Date
        th 
          h5 
            a(href='/expense/sort_amount') Amount
        th 
          h5 
            a(href='/expense/sort_description') Description
        th 
          h5 
            a(href='/expense/sort_comment') Comment
        th 
          h5(style='color:#007bff') Edit
    for item , i in expenses
      tr
        td= i + 1
        td= item.date
        td= item.amount
        td= item.description
        td= item.comment
        td(style='width:10%')
          a(href='/expense/delete?_id='+ item._id style='color:#FF0000') Delete 
          a(href='/expense/update?_id='+ item._id) Update 

  .pb-2.mt-2.mb-4.border-bottom
  h3 Insert Expense
  form(action='/expense/insert', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='date') Date
      .col-md-4
        input.form-control(type='date', name='date', id='date', rows='1')
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='amount') Amount
      .col-md-2
        input.form-control(name='amount', id='amount', rows='1')
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='message') description
      .col-md-8
        input.form-control(name='description', id='description', rows='1')
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='comment') Comment
      .col-md-8
        input.form-control(name='comment', id='comment', rows='1')
    .form-group
      .offset-md-2.col-md-8.p-1
        button.btn.btn-primary(type='submit')
          | Insert